<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <form action="/form" method="post">
      <input type="text" name="recipe" placeholder="Recipe" />
      <input type="text" name="ingredients" placeholder="Ingredients" />
      <input type="text" name="preparation" placeholder="Preparation" />
      <input type="number" name="calories" placeholder="Calories" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
