<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Analysis Results</title>
  </head>
  <body>
    <h1>Analyze results:</h1>
    <p>Total Characters: {{characters}}</p>
    <p>Words Less Than 5 Characters: {{lessThanFive}}</p>
    <p>Words More Than 5 Characters: {{moreThanFive}}</p>
    <p>Words Equal To 5 Characters: {{equalToFive}}</p>
    <p>Total Sentences: {{sentences}}</p>
    <p>Total Words: {{words}}</p>
    <p>Words Starting with Vowels: {{vowels}}</p>
  </body>
</html>
